In [ ]:
# Take a range() function
print(range(5))
print(range(10))

range(0, 5)
range(0, 10)

In [ ]:
# Take an example
# Diectly accessing to the elements in the list

years = [2005, 2006, 2007, 2008, 2009, 2010]

for i in years:
  print(i)

2005
2006
2007
2008
2009
2010

In [ ]:
# Again, directly accessing to the elements in the list
years = [2005, 2006, 2007, 2008, 2009, 2010]
for year in years:
  print(year)

2005
2006
2007
2008
2009
2010

In [1]:
# Take an example

years = [2005, 2006, 2007, 2008, 2009, 2010]

for i in range(len(years)):
  print(years[i])

2005
2006
2007
2008
2009
2010

In [2]:
# Another for loop example
for i in range(2, 12): print(i)

2
3
4
5
6
7
8
9
10
11

In [3]:
# Striding in for loop
for i in range(2, 12, 3):
  print(i)

2
5
8
11

In [5]:
# Changing the elements in the list
languages = ['Java', 'JavaScript', 'C', 'C++', 'PHP']
for i in range(len(languages)):
  print('Before language', i, 'is', languages[i])
  languages[i] = 'Python'
  print('After language', i, 'is', languages[i])

Before language 0 is Java
After language 0 is Python
Before language 1 is JavaScript
After language 1 is Python
Before language 2 is C
After language 2 is Python
Before language 3 is C++
After language 3 is Python
Before language 4 is PHP
After language 4 is Python

In [6]:
# Enumaeration of the elements in the list
languages = ['Python', 'Java', 'JavaScript', 'C', 'C++', 'PHP']
for index, language in enumerate(languages):
  print(index, language)

0 Python
1 Java
2 JavaScript
3 C
4 C++
5 PHP

In [7]:
# Take the numbers between -3 and 6 using for loop
# Use range() function

for i in range(-3, 7):
  print(i)

-3
-2
-1
0
1
2
3
4
5
6

In [8]:
# Take a list and print the elements using for loop
languages = ['Python', 'Java', 'JavaScript', 'C', 'C++', 'PHP']
for i in range(len(languages)):
  print(i, languages[i])

0 Python
1 Java
2 JavaScript
3 C
4 C++
5 PHP

In [9]:
number1 = int(input('Enter a number:'))
number2 = int(input('Enter a number:'))
print(f'The entered numbers are {number1} and {number2}.')
for i in range(0, 11):
  print(('%d x %d = %d' %(number1, i, number1*i)), ',', ('%d x %d = %d' %(number2, i, number2*i )))

Enter a number:7
Enter a number:9
The entered numbers are 7 and 9.
7 x 0 = 0 , 9 x 0 = 0
7 x 1 = 7 , 9 x 1 = 9
7 x 2 = 14 , 9 x 2 = 18
7 x 3 = 21 , 9 x 3 = 27
7 x 4 = 28 , 9 x 4 = 36
7 x 5 = 35 , 9 x 5 = 45
7 x 6 = 42 , 9 x 6 = 54
7 x 7 = 49 , 9 x 7 = 63
7 x 8 = 56 , 9 x 8 = 72
7 x 9 = 63 , 9 x 9 = 81
7 x 10 = 70 , 9 x 10 = 90

In [10]:
# Take a list
nlis = [0.577, 2.718, 3.14, 1.618, 1729, 6, 37]

# Write a for loop for addition
count = 0
for i in nlis:
  count+=i
print('The total value of the numbers in the list is', count)

# Calculate the average using len() function
print('The avearge value of the numbers in the list is', count/len(nlis))

The total value of the numbers in the list is 1780.053
The avearge value of the numbers in the list is 254.29328571428573

In [11]:
for i in range(1,6):
  print(i, end=", ")
else:
  print('These are numbers from 1 to 5.')

1, 2, 3, 4, 5, These are numbers from 1 to 5.

In [13]:
num = int(input('Enter a number:'))

print(f'The entered the number is {num}.')
i, j = 0, 0
for i in range(0, num):
  print()
  for j in range(0, i+1):
    print('+', end='')

Enter a number:10
The entered the number is 10.

+
++
+++
++++
+++++
++++++
+++++++
++++++++
+++++++++
++++++++++

In [15]:
# Take a list
nlis = [1,2,4,5,6,7,8,9,10,11,12,13,14]
for i in nlis:
 if i == 5:
  continue
 print(i)
"""
You see that the output includes the numbers without 5.
The continue function jumps when it meets with the reference. """

1
2
4
6
7
8
9
10
11
12
13
14

'\nYou see that the output includes the numbers without 5.\nThe continue function jumps when it meets with the reference. '

In [16]:
# Take a list
nlis = [1,2,4,5,6,7,8,9,10,11,12,13,14]
for i in nlis:
  if i == 5:
    break
  print(i)
"""
You see that the output includes the numbers before 5.
The break function terminate the loop when it meets with the reference. """

1
2
4

'\nYou see that the output includes the numbers before 5.\nThe break function terminate the loop when it meets with the reference. '

In [17]:
# Take an example
i = 22
while i<27:
  print(i)
  i+=1

22
23
24
25
26

In [19]:
#Take an example
i = 22
while i>=17:
  print(i)
  i-=1

22
21
20
19
18
17

In [20]:
# Take an example
years = [2005, 2006, 2007, 2008, 2009, 2010]

index = 0

year = years[0]
while year !=2008:
  print(year)
  index+=1
  year = years[index]
print('It gives us only', index, 'repetitons to get out of loop')

2005
2006
2007
It gives us only 3 repetitons to get out of loop

In [21]:
# Print the movie ratings gretater than 6.
movie_rating = [8.0, 7.5, 5.4, 9.1, 6.3, 6.5, 2.1, 4.8, 3.3]

index = 0
rating = movie_rating[0]

while rating>=6:
  print(rating)
  index += 1
  rating = movie_rating[index]
print('There is only', index, 'movie rating, because the loop stops when it meets with the number lower than 6.')

8.0
7.5
There is only 2 movie rating, because the loop stops when it meets with the number lower than 6.

In [1]:
# Print the movie ratings gretater than 6.
movie_rating = [8.0, 7.5, 5.4, 9.1, 6.3, 6.5, 2.1, 4.8, 3.3]

index = 0
for i in range(len(movie_rating)):
  if movie_rating[i] >= 6:
    index += 1
    print(index, movie_rating[i])
print('There is only', index, 'films gretater than movie rating 6')

1 8.0
2 7.5
3 9.1
4 6.3
5 6.5
There is only 5 films gretater than movie rating 6

In [3]:
# Adding the element in a list to a new list
fruits = ['banana', 'apple', 'banana', 'orange', 'kiwi', 'banana', 'Cherry', 'Grapes']

new_fruits = []

index = 0
while fruits[index] == 'banana':
  new_fruits.append(fruits[index])
  index += 1
print(new_fruits)

['banana']

In [4]:
number1 = int(input('Enter a number:'))
number2 = int(input('Enter a number:'))
print(f'The entered numbers are {number1} and {number2}.')

i=0
while i<=10:
   print(('%d x %d = %d' %(number1, i, number1*i)), ',', ('%d x %d = %d' %(number2, i, number2*i )))
   i+=1

Enter a number:8
Enter a number:9
The entered numbers are 8 and 9.
8 x 0 = 0 , 9 x 0 = 0
8 x 1 = 8 , 9 x 1 = 9
8 x 2 = 16 , 9 x 2 = 18
8 x 3 = 24 , 9 x 3 = 27
8 x 4 = 32 , 9 x 4 = 36
8 x 5 = 40 , 9 x 5 = 45
8 x 6 = 48 , 9 x 6 = 54
8 x 7 = 56 , 9 x 7 = 63
8 x 8 = 64 , 9 x 8 = 72
8 x 9 = 72 , 9 x 9 = 81
8 x 10 = 80 , 9 x 10 = 90

In [5]:
index = 0
while index <=5:
  print(index, end=' ')
  index += 1
else:
  print('It gives us the numbers between 0 and 5.')

0 1 2 3 4 5 It gives us the numbers between 0 and 5.

In [6]:
i=0
while i<=5:
  print(i)
  i+=1
  if i == 3:
    continue

0
1
2
3
4
5

In [8]:
i=0
while i<=5:
  print(i)
  i+=1
  if i == 3:
   break

0
1
2