In [1]:
# The empty set of curly braces denotes the empty dictionary, not empty set
x = {}
print(type(x))

<class 'dict'>

In [2]:
# To take a set without elements, use set() function without any items
y = set()
print(type(y))

<class 'set'>

In [3]:
# Addition of an element to a set
set3 = set(['Hello Python!', 3.14, 1.618, 'Hello World!', 3.14, 1.618, True, False, 2022])
set3.add('Hi, Python!')
set3

{1.618,
 2022,
 3.14,
 False,
 'Hello Python!',
 'Hello World!',
 'Hi, Python!',
 True}

In [4]:
# Addition of the same element
set3.add('Hi, Python!')
set3

# As you see that there is only one from the added element 'Hi, Python!'

{1.618,
 2022,
 3.14,
 False,
 'Hello Python!',
 'Hello World!',
 'Hi, Python!',
 True}

In [5]:
x_set = {6,7,8,9}
print(x_set)
x_set.update({3,4,5})
print(x_set)

{8, 9, 6, 7}
{3, 4, 5, 6, 7, 8, 9}

In [6]:
set3.remove('Hello Python!')
set3

{1.618, 2022, 3.14, False, 'Hello World!', 'Hi, Python!', True}

In [7]:
set3.discard(3.14)
set3

{1.618, 2022, False, 'Hello World!', 'Hi, Python!', True}

In [8]:
# To verify if the element is in the set
1.618 in set3

True

In [9]:
# Take two sets
set4 = set(['Hello Python!', 3.14, 1.618, 'Hello World!'])
set5 = set([3.14, 1.618, True, False, 2022])
# Printing two sets
set4, set5

({1.618, 3.14, 'Hello Python!', 'Hello World!'},
 {False, True, 1.618, 3.14, 2022})

In [10]:
intersection = set4 & set5
intersection

{1.618, 3.14}

In [11]:
set4.intersection(set5)

{1.618, 3.14}

In [12]:
print(set4.difference(set5))
print(set5.difference(set4))

# The same process can make using subtraction operator as follows:

print(set4-set5)
print(set5-set4)

{'Hello World!', 'Hello Python!'}
{False, True, 2022}
{'Hello World!', 'Hello Python!'}
{False, True, 2022}

In [13]:
print(set4>set5)
print(set5>set4)
print(set4==set5)

False
False
False

In [14]:
A = [1,1,2,2,3,3,4,4,5,5] # Take a list
B = {1,1,2,2,3,3,4,4,5,5} # Take a set
print('The minimum number of A is', min(A))
print('The minimum number of B is', min(B))
print('The maximum number of A is', max(A))
print('The maximum number of B is', max(B))
print('The sum of A is', sum(A))
print('The sum of B is', sum(B))

# As you see that the sum of A and B is different. Because the set takes no duplicate.

The minimum number of A is 1
The minimum number of B is 1
The maximum number of A is 5
The maximum number of B is 5
The sum of A is 30
The sum of B is 15

In [ ]:
set6 = {'Python', 1,2,3, [1,2,3]}
set6

In [ ]:
set7 = {1,2,3,4}
set7[1]

In [15]:
set8 = {1,3,5,7,9}
print(set8)
set9 = set8
print(set9)
set8.add(11)
print(set8)
print(set9)
"""
As you see that although the number 8 is added into the set 'set8', the added number is also added into the set 'set9'
"""

{1, 3, 5, 7, 9}
{1, 3, 5, 7, 9}
{1, 3, 5, 7, 9, 11}
{1, 3, 5, 7, 9, 11}

"\nAs you see that although the number 8 is added into the set 'set8', the added number is also added into the set 'set9'\n"

In [16]:
set8 = {1,3,5,7,9}
print(set8)
set9 = set8.copy()
print(set9)
set8.add(11)
print(set8)
print(set9)
"""
When this function is used, the original set stays unmodified.
A new copy stored in another set of memory locations is created. The change made in one copy won't reflect in another.
"""

{1, 3, 5, 7, 9}
{1, 3, 5, 7, 9}
{1, 3, 5, 7, 9, 11}
{1, 3, 5, 7, 9}

"\nWhen this function is used, the original set stays unmodified.\nA new copy stored in another set of memory locations is created. The change made in one copy won't reflect in another.\n"

In [17]:
x = {0, 1,1,2,3,5,8,13, 21,34}
print(x)
x.clear()
print(x)

{0, 1, 2, 3, 34, 5, 8, 13, 21}
set()

In [19]:
x = {0, 1,1,2,3,5,8,13,21,34}
print(x)
x.pop()
print(x)

{0, 1, 2, 3, 34, 5, 8, 13, 21}
{1, 2, 3, 34, 5, 8, 13, 21}